div{
    height: 150px;
    width: 150px;
}
.box1,.box2,.box3,.box4{
    position: fixed;

}
.box1{
    background-color: aqua;
}
.box2{
    background-color: brown;
    top: 150px;
    left: 150px;
}
.box3{
    background-color: blueviolet;
    top: 300px;
    left: 300px;
}
.box4{
    background-color: yellow;
    top: 450px;
    left: 450px;

}
